<!DOCTYPE generatorConfiguration PUBLIC
 "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
 "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<!--        Copyright 2022 PingCAP, Inc.-->

<!--        Licensed under the Apache License, Version 2.0 (the "License");-->
<!--        you may not use this file except in compliance with the License.-->
<!--        You may obtain a copy of the License at-->

<!--        http://www.apache.org/licenses/LICENSE-2.0-->

<!--        Unless required by applicable law or agreed to in writing, software-->
<!--        distributed under the License is distributed on an "AS IS" BASIS,-->
<!--        WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.-->
<!--        See the License for the specific language governing permissions and-->
<!--        limitations under the License.-->

<generatorConfiguration>
    <context id="simple" targetRuntime="MyBatis3">
        <commentGenerator>
            <property name="suppressDate" value="true"/>
            <property name="suppressAllComments" value="true" />
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
            connectionURL="jdbc:mysql://localhost:4000/test?user=root" />

        <javaModelGenerator targetPackage="com.pingcap.dao" targetProject="src/main/java">
            <property name="constructorBased" value="true"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="." targetProject="src/main/resources/mapper"/>
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.pingcap.dao" targetProject="src/main/java"/>

        <table tableName="player" domainObjectName="Player"
               enableCountByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false"/>
    </context>
</generatorConfiguration>