*~
*.class
*.html
.DS_Store
package-list
script.js
stylesheet.css

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
**/build
**/certs
**/target

.classpath
.project
.settings
.idea

# jenv local settings
.java-version
