#!/bin/sh

export TIDB_HOST='xxxxxxxx.aws.tidbcloud.com'
export TIDB_PORT='4000'
export TIDB_USER='xxxxxxxxxxx.root'
export TIDB_PASSWORD='xxxxxxx'
export TIDB_DB_NAME='test'
export IS_SERVERLESS='true'

jdbc_url="jdbc:mysql://${TIDB_HOST}:${TIDB_PORT}/${TIDB_DB_NAME}"
if [ 'true'=="${IS_SERVERLESS}" ]; then
  jdbc_url="${jdbc_url}?sslMode=VERIFY_IDENTITY&enabledTLSProtocols=TLSv1.2,TLSv1.3"
fi

export TIDB_JDBC_URL=${jdbc_url}
